
{% extends 'FreshPatentingBundle::base.html.twig' %}

{% block title %}
    Калькулятор - Fresh
{% endblock %}

{% block body1 %}


<div id="i-l-app"><div id="i-l-app-mouse-text" style="display: none"></div><div id="i-l-app-color-picker"><div class="colors"><div class="color-0" data-color="0"></div><div class="color-1" data-color="1"></div><div class="color-2" data-color="2"></div><div class="color-3" data-color="3"></div><div class="color-4" data-color="4"></div><div class="color-5" data-color="5"></div><div class="color-6" data-color="6"></div><div class="color-7" data-color="7"></div></div><div id="_l_i-color-active" class="color-3"></div></div><div id="i-l-app-h-rule" data-type="h"></div><div id="i-l-app-v-rule" data-type="v"></div><div id="i-l-app-lines" class="color-3"></div></div><div class="brif_form email-r" style="top: 50%;">
    <i class="close"></i>
    <div class="header">
        <div class="slides">
            <div class="slides_in">
                <!--<div rel="25%" class="active">Заявка на разработку сайта</div>
                <div rel="50%">Почему такая цена?</div>-->
                <div rel="100%">Конструктор договора для регистрации ТМ и всех приложений к нему</div>
            </div>
        </div>
    </div>
    <div class="progress"><i style="width:100%"></i></div>
    <div class="content">
        <div class="content_in">
            <div class="slides">
                <div class="slide know_cost_slide">
                    <form id="patenting_form">
                        <div class="form contact_info">

                            <div class="field">
                                <label>Исполнитель</label>
                                {#{{ dump(selfOrganizations) }}#}
                                <select name="our_entity" class="input" tabindex="3" id="our_entity">
                                    {#<option value="1"></option>#}
                                    {% for selfOrganization in selfOrganizations %}

                                        {% if selfOrganization.organizationType == false %}
                                            <option value="{{ selfOrganization.id }}">ФОП {{ selfOrganization.surname }} {{ selfOrganization.name }} {{ selfOrganization.secondName }}</option>
                                        {% else %}
                                            <option value="{{ selfOrganization.id }}">{{ selfOrganization.organizationName }}</option>
                                        {% endif %}

                                    {% endfor %}
                                </select>

                            </div>

                            <div class="field" id="legal_entity_type">
                                <label>Тип организации</label>
                                <input type="radio" name="legal_entity_type" value="0" checked> Физ. лицо<br>
                                <input type="radio" name="legal_entity_type" value="1"> Юр. лицо<br>
                            </div>

                            <div class="field">
                                {#{{ dump(organizations) }}#}
                                <label>Выберите заказчика</label>
                                <select name="organizations" class="input" tabindex="3" id="organizations">
                                    <option value="0">Новый заказчик</option>

                                    {% for organization in organizations %}

                                        {% if organization.organizationType == false %}
                                            <option value="{{ organization.id }}">{{ organization.surname }} {{ organization.name }} {{ organization.secondName }}</option>
                                        {% else %}
                                            <option value="{{ organization.id }}">{{ organization.organizationName }}</option>
                                        {% endif %}

                                    {% endfor %}
                                </select>
                            </div>


                            <div id="organization_data">
                                <fieldset id="organization_data fisical" class="fieldsets">
                                    <legend>Физическое лицо</legend>

                                    <div class="name field">
                                        <p>
                                            <label for="name">Фамилия</label>
                                            <input type="text" class="input" name="name" id="name">
                                        </p>
                                    </div>

                                    <div class="second_name field">
                                        <p>
                                            <label for="second_name">Имя</label>
                                            <input type="text" class="input" name="second_name" id="second_name">
                                        </p>
                                    </div>

                                    <div class="surname field">
                                        <p>
                                            <label for="surname">Отчество</label>
                                            <input type="text" class="input" name="surname" id="surname">
                                        </p>
                                    </div>

                                    <div class="address field">
                                        <p>
                                            <label for="address">Адрес</label>
                                            <input type="text" class="input" name="address" id="address">
                                        </p>
                                    </div>

                                    <div class="identification_code field">
                                        <p>
                                            <label for="identification_code">ЄДРПОУ</label>
                                            <input type="text" class="input" name="identification_code" id="identification_code">
                                        </p>
                                    </div>

                                    <fieldset class="inside_fieldset">

                                        <legend>Паспорт</legend>

                                        <div class="passport_series field">
                                            <p>
                                                <label for="passport_series">Серия</label>
                                                <input type="text" class="input" name="passport_series" id="passport_series">
                                            </p>
                                        </div>

                                        <div class="passport_number field">
                                            <p>
                                                <label for="passport_number">Номер</label>
                                                <input type="text" class="input" name="passport_number" id="passport_number">
                                            </p>
                                        </div>

                                        <div class="passport_other field">
                                            <p>
                                                <label for="passport_other">Выдан</label>
                                                <input type="text" class="input" name="passport_other" id="passport_other">
                                            </p>
                                        </div>

                                    </fieldset>

                                    <div id="add_or_update">
                                        <div class="section added field" >
                                            <input type="checkbox" name="add_customer" id="add_customer" value="0" class="custom">Cохранить заказчика в справочник<br>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>

                            <div class="field">
                                <label>Тип цен</label>
                                <select name="prices_type" class="input" tabindex="3" id="prices_type">
                                    <option value="0">Cтандарт</option>
                                    <option value="1">Партнер</option>
                                </select>
                            </div>

                            <div class="field">
                                <label>Срочность регистрации</label>
                                <select name="registrations_urgency" class="input" tabindex="3" id="registrations_urgency">
                                    <option value="1">Обычная</option>
                                    <option value="2">Ускоренная</option>
                                    <option value="3">Срочная</option>
                                </select>
                            </div>

                            <div class="field">
                                <label>Тип ТМ</label>
                                <select name="trademarks_type" class="input" tabindex="3" id="trademarks_type">
                                    <option value="0">Словесная</option>
                                    <option value="1">Комбинированная</option>
                                </select>
                            </div>

                            <div class="field">
                                <label>Количество заявителей</label>
                                <div class="fieldsets">

                                    <div class="section added field" >
                                        <input type="checkbox" name="declarants_quantity" id="declarants_quantity" value="1" class="custom">Более 1 заявителя<br>
                                    </div>
                                </div>
                            </div>

                            <div class="field holder">
                                <label>Классы(вводить через запятую)</label>
                                <textarea tabindex="5" class="input" id="trademarks_classes" name="trademarks_classes"></textarea>
                            </div>

                            <div class="field">
                                <label>Нужен ли поиск</label>
                                <div class="fieldsets">
                                    <div class="section added field" >
                                        <input type="checkbox" name="search_neaded" id="search_neaded" value="1" class="custom" checked>Поиск<br>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label>Цветность</label>
                                <div class="fieldsets">
                                    <div class="section added field" >
                                        <input type="checkbox" name="colority" id="colority" value="1" class="custom">Цветная<br>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <button class="button create_сontract">Сформировать договор</button>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="footer"></div>
</div>

{% endblock %}
