
{% extends 'FreshCalcBundle::base.html.twig' %}

{% block title %}
    Калькулятор - Fresh
{% endblock %}

{% block body1 %}


<div id="i-l-app"><div id="i-l-app-mouse-text" style="display: none"></div><div id="i-l-app-color-picker"><div class="colors"><div class="color-0" data-color="0"></div><div class="color-1" data-color="1"></div><div class="color-2" data-color="2"></div><div class="color-3" data-color="3"></div><div class="color-4" data-color="4"></div><div class="color-5" data-color="5"></div><div class="color-6" data-color="6"></div><div class="color-7" data-color="7"></div></div><div id="_l_i-color-active" class="color-3"></div></div><div id="i-l-app-h-rule" data-type="h"></div><div id="i-l-app-v-rule" data-type="v"></div><div id="i-l-app-lines" class="color-3"></div></div><div class="brif_form email-r" style="top: 50%;">
    <i class="close"></i>
    <div class="header">
        <div class="slides">
            <div class="slides_in">
                <!--<div rel="25%" class="active">Заявка на разработку сайта</div>
                <div rel="50%">Почему такая цена?</div>-->
                <div rel="100%">Узнать стоимость</div>
            </div>
        </div>
    </div>
    <div class="progress"><i style="width:100%"></i></div>
    <div class="content">
        <div class="content_in">
            <div class="slides">
                <div class="slide know_cost_slide">
                    <form>
                        <div class="form contact_info">
                        <div class="field">
                            <label>Компания*</label>
                            <input type="text" class="input" tabindex="1" name="company" id="company" required>
                        </div>
                        <div class="field">
                            <label>Имя*</label>
                            <input type="text" class="input" tabindex="1" name="name" id="name" required>
                        </div>
                        <div class="field">
                            <label>Фамилия</label>
                            <input type="text" class="input" tabindex="1"  name="surname" id="surname">
                        </div>
                        <div class="field">
                            <label>Отчество</label>
                            <input type="text" class="input" tabindex="1"  name="secondname" id="secondname">
                        </div>

                        <div class="field">
                            <label>Эл. почта*</label>
                            <input type="text" class="input" tabindex="2" name="email" id="email" required>
                        </div>

                        <div class="field">
                            <label>Контактный телефон*</label>
                            <input type="text" class="input" tabindex="4" name="tel" id="tel" placeholder="+12 (345)-678-91-00">
                        </div>

                        <div class="field">
                            <label>Выберите тип сайта</label>
                            <select name="site_type" class="input" tabindex="3" id="site_type">
                                <option value="0"></option>
                                {% for siteType in sitesTypes %}
                                    <option value="{{ siteType.id }}" data-query-url="{{ path('get_parameters', { 'id': siteType.id }) }}">{{ siteType.siteType }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="field holder">
                            <label>Дополнительная информация</label>
                            <textarea tabindex="5" class="input"></textarea>
                        </div>



                        <fieldset id="first_step" class="fieldsets">
                            <legend>Смета по разработке (Этап 1)</legend>
                            <legend class="hour-price">
                                <div class="hour_price field title">
                                    <p>
                                         <label for="hour_price">Стоимость часа, грн.</label>
                                         <input type="text" class="input" name="first_step_hour_price" id="first_step_hour_price" value="550" maxlength="8">
                                     </p>
                                </div>
                            </legend>

                            <div class="section">
                                <input type="checkbox" id="first_step-1" checked="" disabled>
                                <div class="field">
                                    <label for="first_step-1">Организация рабочих групп по web-
                                        разработке, сбор требований и материалов</label>
                                    <input type="text" id="first_step-1" name="first_step-1" value="5" placeholder="Введите значение" required="" class="value input">
                                    <label for="first_step-1" class="hours"> час.</label>
                                </div>
                            </div>

                            <div class="section">
                                <input type="checkbox" id="first_step-3" name="first_step-3-checkbox" checked="">
                                <div class="field">
                                    <label for="first_step-1">Разработка логотипа</label>
                                    <input type="text" id="first_step-3" name="first_step-3" value="23" placeholder="Введите значение" required="" class="value input">
                                    <label for="first_step-1" class="hours"> час.</label>
                                </div>
                            </div>

                            <div class="section">
                                <input type="checkbox" id="first_step-2" checked="" disabled>
                                <div class="field">
                                    <label for="first_step-2">Написание ТЗ на разработку сайта</label>
                                    <input type="text" id="first_step-2" name="first_step-2" value="3" placeholder="Введите значение" required="" class="value input">
                                    <label for="first_step-2" class="hours"> час.</label>
                                </div>
                            </div>

                            <div class="field first_step executors">

                                <dl class="dropdown">
                                    <dt>
                                        <a href="#" class="button">
                                            <span class="hida">Исполнители</span>
                                            <p class="multiSel">
                                                <input type="hidden" name="first_step_executors">
                                            </p>
                                        </a>
                                    </dt>

                                    <dd>
                                        <div class="mutliSelect">
                                            <ul>
                                                {#{{ dump(work_stages) }}#}
                                                {% for key, executor in executors %}
                                                    <li><input type="checkbox" value="{{ key }}" {% if key == 0 %}checked{% endif %}/>{{ executor[1] }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </dd>

                                </dl>

                            </div>




                        </fieldset>


                        <fieldset id="design" class="fieldsets">
                            <legend>Дизайн</legend>
                            <legend class="hour-price">
                                <div class="hour_price field title">
                                    <p>
                                        <label for="design_hour_price">Стоимость часа, грн.</label>
                                        <input type="text" class="input" name="design_hour_price" id="design_hour_price" value="550" maxlength="8">
                                    </p>
                                </div>
                            </legend>

                            <div class="field first_step executors">

                                <dl class="dropdown">
                                    <dt>
                                        <a href="#" class="button">
                                            <span class="hida">Исполнители</span>
                                            <p class="multiSel">
                                                <input type="hidden" name="design_executors">
                                            </p>
                                        </a>
                                    </dt>

                                    <dd>
                                        <div class="mutliSelect">
                                            <ul>
                                                {#{{ dump(work_stages) }}#}
                                                {% for key, executor in executors %}
                                                    <li><input type="checkbox" value="{{ key }}" {% if key == 1 or key == 2 or key == 3 %}checked{% endif %}/>{{ executor[1] }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </dd>

                                </dl>

                            </div>

                            <p class="add-more">
                                <a href="#" class="add_templates">Добавить шаблоны</a>
                            </p>

                        </fieldset>

                        <fieldset id="mark_up" class="fieldsets">
                            <legend>Верстка</legend>
                            <legend class="hour-price">
                                <div class="hour_price field title">
                                    <p>
                                        <label for="hour_price">Стоимость часа, грн.</label>
                                        <input type="text" class="input" name="mark_up_hour_price" id="mark_up_hour_price" value="550" maxlength="8">
                                    </p>
                                </div>
                            </legend>

                            <div class="field first_step executors">

                                <dl class="dropdown">
                                    <dt>
                                        <a href="#" class="button">
                                            <span class="hida">Исполнители</span>
                                            <p class="multiSel">
                                                <input type="hidden" name="mark_up_executors">
                                            </p>
                                        </a>
                                    </dt>

                                    <dd>
                                        <div class="mutliSelect">
                                            <ul>
                                                {#{{ dump(work_stages) }}#}
                                                {% for key, executor in executors %}
                                                    <li><input type="checkbox" value="{{ key }}" {% if key == 2 or key == 3 or key == 4 or key == 5 %}checked{% endif %}/>{{ executor[1] }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </dd>

                                </dl>

                            </div>

                            <p class="add-more">
                                <a href="#" class="add_templates">Добавить шаблоны</a>
                            </p>

                        </fieldset>

                        <fieldset id="programming" class="fieldsets">
                            <legend>Программирование</legend>
                            <legend class="hour-price">
                                <div class="hour_price field title">
                                    <p>
                                        <label for="hour_price">Стоимость часа, грн.</label>
                                        <input type="text" class="input" name="programming_hour_price" id="programming_hour_price" value="550" maxlength="8">
                                    </p>
                                </div>
                            </legend>

                            <div class="field first_step executors">

                                <dl class="dropdown">
                                    <dt>
                                        <a href="#" class="button">
                                            <span class="hida">Исполнители</span>
                                            <p class="multiSel">
                                                <input type="hidden" name="programming_executors">
                                            </p>
                                        </a>
                                    </dt>

                                    <dd>
                                        <div class="mutliSelect">
                                            <ul>
                                                {#{{ dump(work_stages) }}#}
                                                {% for key, executor in executors %}
                                                    <li><input type="checkbox" value="{{ key }}" {% if key == 0 or key == 4 or key == 6 %}checked{% endif %}/>{{ executor[1] }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </dd>

                                </dl>

                            </div>

                            <p class="add-more">
                                <a href="#" class="add_templates">Добавить шаблоны</a>
                            </p>

                        </fieldset>

                        <fieldset id="last_step" class="fieldsets">
                            <legend>Смета финишной подготовки сайта (Этап 5)</legend>
                            <legend class="hour-price">
                                <div class="hour_price field title">
                                    <p>
                                        <label for="hour_price">Стоимость часа, грн.</label>
                                        <input type="text" class="input" name="last_step_hour_price"
                                               id="last_step_hour_price" value="550" maxlength="8">
                                    </p>
                                </div>
                            </legend>

                            <div class="section">
                                <input type="checkbox" id="last_step-1" checked="" disabled>
                                <div class="field">
                                    <label for="last_step-1">Тестирование</label>
                                    <input type="text" id="last_step-1" name="last_step-1" value="6"
                                           placeholder="Введите значение" required="" class="value input">
                                    <label for="last_step-1" class="hours"> час.</label>
                                </div>
                            </div>

                            <div class="section">
                                <input type="checkbox" id="last_step-2" checked="" disabled>
                                <div class="field">
                                    <label for="last_step-2">Наполнение контентом</label>
                                    <input type="text" id="last_step-2" name="last_step-2" value="4"
                                           placeholder="Введите значение" required="" class="value input">
                                    <label for="last_step-2" class="hours"> час.</label>
                                </div>
                            </div>

                            <div class="section">
                                <input type="checkbox" id="last_step-2" checked="" disabled>
                                <div class="field">
                                    <label for="last_step-3">Базовая SEO оптимизация</label>
                                    <input type="text" id="last_step-3" name="last_step-3" value="6"
                                           placeholder="Введите значение" required="" class="value input">
                                    <label for="last_step-3" class="hours"> час.</label>
                                </div>
                            </div>

                            <div class="field last_step executors">

                                <dl class="dropdown">
                                    <dt>
                                        <a href="#" class="button">
                                            <span class="hida">Исполнители</span>
                                            <p class="multiSel">
                                                <input type="hidden" name="last_step_executors">
                                            </p>
                                        </a>
                                    </dt>

                                    <dd>
                                        <div class="mutliSelect">
                                            <ul>
                                                {#{{ dump(work_stages) }}#}
                                                {% for key, executor in executors %}
                                                    <li><input type="checkbox" value="{{ key }}" {% if key == 0 or key == 4 or key == 6 %}checked{% endif %}/>{{ executor[1] }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </dd>

                                </dl>
                            </div>

                        </fieldset>


                        <fieldset id="final_calculations" class="fieldsets">
                            <legend>Дополнительные параметры</legend>

                            <div class="field work_stages">

                                <dl class="dropdown">
                                    <dt>
                                        <a href="#" class="button">
                                            <span class="hida">Этапы работ</span>
                                            <p class="multiSel">
                                                <input type="hidden" name="work_stages">
                                            </p>
                                        </a>
                                    </dt>

                                    <dd>
                                        <div class="mutliSelect">
                                            <ul>
                                                {#{{ dump(work_stages) }}#}
                                                {% for key, work_stage in work_stages %}
                                                    <li><input type="checkbox" value="{{ key }}" checked/>{{ work_stage }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </dd>

                                </dl>

                            </div>

                            <div class="adaptive field">
                                <p>
                                    <label for="adaptive">Адаптив</label>
                                    <input type="text" class="input" name="adaptive" id="adaptive" value="40">
                                    <label for="adaptive" class="field_label">%</label>
                                </p>
                            </div>

                            <div class="for_complicate field">
                                <p>
                                    <label for="for_complicate">За сложность</label>
                                    <input type="text" class="input" name="for_complicate" id="for_complicate" value="10">
                                    <label for="for_complicate" class="field_label">%</label>
                                </p>
                            </div>

                            <div class="discount field">
                                <p>
                                    <label for="discount">Скидка</label>
                                    <input type="text" class="input" name="discount" id="discount">
                                    <label for="discount" class="field_label">%</label>
                                </p>
                            </div>

                            <div class="quantity_of_payments field">
                                <p>
                                    <label for="quantity_of_payments">Кол-во платежей</label>
                                    <input type="text" class="input" name="quantity_of_payments" id="quantity_of_payments" value="1">
                                    <label for="quantity_of_payments" class="field_label">шт.</label>
                                </p>
                            </div>

                            {#<div class="mark_up field">#}
                                {#<p>#}
                                    {#<label for="mark_up">Верстка</label>#}
                                    {#<input type="text" class="input" name="mark_up" id="mark_up" value="30">#}
                                    {#<label for="quantity_of_payments" class="field_label">%</label>#}
                                {#</p>#}
                            {#</div>#}

                            <div class="hour_price field">
                                <p>
                                    <label for="hour_price">Цена часа</label>
                                    <input type="text" class="input" name="hour_price" id="hour_price" value="550">
                                    <label for="hour_price" class="field_label per_hour">грн/час</label>
                                </p>
                            </div>

                            <div class="">

                                <div class="final_price field">
                                    <p>
                                        <label for="final_price">Итоговая стоимость, грн.</label>
                                        <input type="text" class="input" name="final_price" id="final_price">
                                        <label for="final_price" class="field_label">грн</label>
                                    </p>

                                </div>

                                <div class="price_per_one_payment field">
                                    <p>
                                        <label for="price_per_one_payment">Стоимость одного плаежа, грн.</label>
                                        <input type="text" class="input" name="price_per_one_payment" id="price_per_one_payment">
                                        <label for="price_per_one_payment" class="field_label">грн</label>
                                    </p>
                                </div>

                            </div>

                            {#<input type="submit" class="button calculate-button" value="Посчитать">#}

                            {#<button class="button get_pdf_path">Сформировать PDF</button>#}

                        </fieldset>

                        <input type="submit" class="button calculate-button" value="Посчитать">

                        <button class="button get_pdf_path">Сформировать PDF</button>



                        {#<div id="multi-label">#}
        {#<span>#}
                            {#Прикрепить файл#}
        {#</span>#}
                        {#</div>#}
                        {#<div class="MultiFile-wrap" id="multi-button_wrap"><input type="file" id="multi-button" class="ru MultiFile-applied" name="files" value=""><div class="MultiFile-list" id="multi-button_wrap_list"></div></div>#}
                    {#</div>#}
                    {#<a class="big_button slide_next" data-id="670">#}
                        {#<span>Отправить заявку</span><span class="big_button_corner"></span>#}
                    {#</a>#}

                </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="footer"></div>
</div>

{% endblock %}
